<h2 mat-dialog-title>Editer un utilisateur</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="editModeUserForm" [matchValue]= "['password', 'confpass']" class="example-form">
    <mat-grid-list cols="6" rowHeight="4:2" gutterSize="30px">
      <mat-grid-tile colspan="2" rowspan="2">
        <mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input name="nom" type="text" matInput formControlName="nom">
          <mat-error *ngIf="nomEdit.invalid && (nomEdit.dirty || nomEdit.touched)">
            <span *ngIf="nomEdit.errors.required">Le nom est <strong>obligatoire</strong></span>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="2">
        <mat-form-field class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input name="prenom" type="text" matInput formControlName="prenom">
          <mat-error *ngIf="prenomEdit.invalid && (prenomEdit.dirty || prenomEdit.touched)">
            <span *ngIf="prenomEdit.errors.required">Le prénom est <strong>obligatoire</strong></span>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="2">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input name="username" type="text" matInput formControlName="username">
          <mat-error *ngIf="usernameEdit.invalid && (usernameEdit.dirty || usernameEdit.touched)">
            <span *ngIf="usernameEdit.errors.required">Le nom d'utilisateur est <strong>obligatoire</strong></span>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="2">
        <mat-form-field class="example-full-width">
          <mat-label>Mot de passe</mat-label>
          <input name="password" type="password" matInput formControlName="password" >
          <mat-error *ngIf="passwordEdit.invalid && (passwordEdit.dirty || passwordEdit.touched)">
            <span *ngIf="passwordEdit.errors.required">Le mot de passe est <strong>obligatoire</strong></span>
            <span *ngIf="passwordEdit.errors.minlength">Le nombre de caractère doit depasser <strong>5</strong></span>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="2">
        <mat-form-field class="example-full-width">
          <mat-label>Confirmer le mot de passe</mat-label>
          <input name="confpass" type="password" matInput formControlName="confpass">
          <mat-error *ngIf="passwordEdit.invalid && (passwordEdit.dirty || passwordEdit.touched)">
            <span *ngIf="passwordEdit.errors.required">La confirmation du mot de passe est <strong>obligatoire</strong></span>
            <span *ngIf="passwordEdit.errors.matchValueError">Revoir la confirmation de mot de passe saisie</span>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="2">
        <mat-form-field appearance="fill">
            <mat-label>Profile</mat-label>
            <mat-select (change)="changeProfile()" formControlName="selectedProfile" required>
              <mat-option>Choisir un profile</mat-option>
              <mat-option *ngFor="let p of profiles; let i = index" [value]="profiles[i].id">
                {{profiles[i].libelle}}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="selectedProfileEdit.invalid && (selectedProfileEdit.dirty || selectedProfileEdit.touched)">
              <span *ngIf="selectedProfileEdit.errors.required">Le profile est obligatoire</span>
            </mat-error>
          </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button cdkFocusInitial (click)="onUpdateForm()">Modifier</button>
</mat-dialog-actions>

