
<form [formGroup]="habilitationForm">
    <!-- <div class="row">
        <div class="input-field col s4">
            <select (change)="changeProfile()" formControlName="selectedProfile" id="profil">
                <option value="" disabled selected>Choisir un profile</option>
                <option *ngFor="let p of profiles; let i = index" [value]="profiles[i].id">
                    {{profiles[i].libelle}}
                </option>
            </select>
            
            <label>Profile</label>
            <span *ngIf="profileSelectedList.invalid" class="help-text" data-error="wrong">
                <p *ngIf="profileSelectedList.errors.required">* Le profile est obligatoire</p>
            </span>
        </div>
        
    </div> -->

    <mat-form-field appearance="fill">
        <mat-label>Favorite animal</mat-label>
        <mat-select formControlName="selectedProfile" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let p of profiles; let i = index" [value]="profiles[i].id">
            {{profiles[i].libelle}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="profileSelectedList.errors.required">Le profile est obligatoire</mat-error>
    </mat-form-field>

    <p><b>Fonctionnalites</b></p>

    <section *ngFor="let f of fonctions; let j = index" class="example-section">
        <span class="example-list-section">
            {{f.libelle}}
        </span>
        <span class="example-list-section">
          <ul>
            <li *ngFor="let a of f.action; let k = index">
              <mat-checkbox [value]="f.action[j].checked" (change)="onCheckboxChange(j, k)" [checked]="a.checked" color="primary">
                    {{a.libelle}}
              </mat-checkbox>
            </li>
          </ul>
        </span>
      </section>

    <!-- <div *ngFor="let f of fonctions; let j = index" class="col s6">
        <table class="striped highlight responsive-table">
            <thead>
                <tr>
                    <th>{{f.libelle}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of f.action; let k = index">
                    <td>
                        <label>
                            <input type="checkbox" [value]="f.action[j].checked" (change)="onCheckboxChange(j, k)" [checked]="a.checked"/>
                            <span>{{a.libelle}}</span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->
    
    
    <!-- <div class="col s12">
        <pre>{{habilitationForm.value | json}}</pre>
        <pre>{{fonctions | json}}</pre>
    </div>

    <div class="col s12 card-action center">
        <button class="btn waves-effect" [disabled]="habilitationForm.invalid" (click)="saveHabilitation()">Valider</button>
    </div>

    <div class="fixed-action-btn">
        <button [disabled]="habilitationForm.invalid" (click)="saveHabilitation()" class="btn-floating btn-large red">
          <i class="large material-icons">save</i>
        </button>
    </div> -->
    <div class="example-button-container">
        <button (click)="saveHabilitation()" mat-fab color="primary" aria-label="icon button with a add icon">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

</form>
