<!-- <p>{{membre.nom}}</p> -->
<!-- <div data-target="modal1" class="section modal-trigger">
    <span><b>Nom & prenom : </b> AKAKPO ADJE  </span>
    <span><b>Sexe : </b> Masculin </span>
    <span><b>Date de naissance : </b> 25/09/1990</span> 
</div>
<div class="divider"></div> -->


<mat-card class="example-card">
    <img mat-card-image src="assets/img/avatar.png">
    <mat-card-content>
      <p>{{membre.nom}} {{membre.prenom}}</p>
      <!-- <p>{{membre.ministere.libelle}}</p> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Details</button>
    </mat-card-actions>
</mat-card>
