<!-- <p>{{membre.nom}}</p> -->
<!-- <div data-target="modal1" class="section modal-trigger">
    <span><b>Nom & prenom : </b> AKAKPO ADJE  </span>
    <span><b>Sexe : </b> Masculin </span>
    <span><b>Date de naissance : </b> 25/09/1990</span> 
</div>
<div class="divider"></div> -->
<div class="col s12 m3">
    <div class="card blue-grey darken-1">
        <div class="card-image">
            <img src="assets/img/avatar.png">
            <!-- <span class="card-title">Card Title</span> -->
        </div>
        <div class="card-content">
            <span class="card-title">AKAKPO ADJE</span>
            <p>Ministere des hommes</p>
        </div>
        <div class="card-action">
            <a href="#">Modifier</a>
            <a href="#">Supprimer</a>
        </div>
    </div>
</div>
