<!-- <p>side-menu works!</p> -->
<!-- <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="assets/img/photo1.png">
                </div>
                <a href="#user"><img class="circle" src="assets/img/avatar.png"></a>
                <a><span class="white-text name">{{authService.getUsername()}}</span></a>
                <a><span class="white-text email">{{authService.getProfile()}}</span></a>

                <a data-target="modalEdit" class="waves-effect modal-trigger" routerLinkActive="active"><span>Mon profile</span></a>
                <li><div class="divider"></div></li>
                <a class="waves-effect" (click)="authService.logout()" routerLinkActive="active"><span>Se deconnecter</span></a>
            </div>
        </li>
        <li><a routerLink="liste-des-membres" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Membre</a></li>
        <li><a routerLink="ministere" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Ministere</a></li>

        <li><div class="divider"></div></li>
        <li><a class="subheader">Sécurité</a></li>
        <li><a routerLink="profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">cloud</i>Profile</a></li>
        <li><a routerLink="user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">perm_identity</i>Utilisateur</a></li>
        <li><a routerLink="habilitation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">security</i>Habilitation</a></li>
        
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons menu">menu</i></a> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


