<!-- <div class="row">
    <div class="col s12 m4 offset-m4">
        <form #loginForm="ngForm" (ngSubmit)="seConnecter(loginForm)"> 
           <div class="card">
            <div class="card-content">
                <div class="row">
                        <div class="input-field col s12">
                            <input id="login" name="login" [(ngModel)]="loginUserData.login" type="text" class="validate">
                                <label for="login">Nom d'utilisateur</label>
                        </div>
                    </div>
                        
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="password" [(ngModel)]="loginUserData.password" type="password" class="validate">
                            <label for="password">Mots de passe</label>
                        </div>
                    </div>
            </div>
            <div class="card-action center">
                <button class="btn waves-effect">Se connecter</button>
            </div>
        </div>
    </form>
    </div>
</div> -->


<mat-grid-list cols="3">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile style="background: pink;">
        <form #loginForm="ngForm" (ngSubmit)="seConnecter(loginForm)"> 
          <mat-card >
            <mat-card-header>
              <mat-card-title>EGCI</mat-card-title>
              <mat-card-subtitle>Connexion</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                <mat-form-field appearance="outline">
                    <mat-label>Login</mat-label>
                    <input name="login" [(ngModel)]="loginUserData.login" matInput placeholder="Saisir le login">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline">
                    <mat-label>Mots de passe</mat-label>
                    <input name="password" [(ngModel)]="loginUserData.password" matInput placeholder="Saisir le mots de passe" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
              </p>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
              <button mat-flat-button color="primary">Se connecter</button>
            </mat-card-actions>
          </mat-card>
        </form>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>


            
    