
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        
        <div style="text-align: center;">
            <p>{{authService.getUsername()}}</p>
            <p>{{authService.getProfile()}}</p> 
            <button mat-button (click)="authService.logout()">Se deconnecter</button>
        </div>
        
        <mat-divider></mat-divider>

        <mat-nav-list role="navigation" aria-label="navigation">
            <a mat-list-item routerLink="liste-des-membres" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Membre</a>
            <a mat-list-item routerLink="ministere" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Ministere</a>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <mat-nav-list role="navigation" aria-label="navigation">
            <a mat-list-item routerLink="profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><mat-icon aria-hidden="false">cloud</mat-icon> Profile</a>
            <a mat-list-item routerLink="user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">perm_identity</i>Utilisateur</a>
            <a mat-list-item routerLink="habilitation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">security</i>Habilitation</a>
        </mat-nav-list>   
        
    </mat-drawer>
    <mat-drawer-content style="padding: 20px 50px">
        <router-outlet>
                
        </router-outlet>
        <!-- Main content -->

    </mat-drawer-content>
  
  </mat-drawer-container>