
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        
        <div style="text-align: center;">
            <img class="avatar mat-elevation-z8" [src]="url_img" />

            <h4 class="name">{{authService.getUsername()}}</h4>
            <p class="designation">{{authService.getProfile()}}</p>
            <button mat-button (click)="authService.logout()">Se deconnecter</button>
        </div>
        
        <mat-divider></mat-divider>

        <mat-nav-list role="navigation" aria-label="navigation">
            <a mat-list-item routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Tableau de bord</a>
            <a mat-list-item routerLink="liste-des-membres" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Membre</a>
            <a mat-list-item routerLink="ministere" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Ministere</a>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <mat-nav-list role="navigation" aria-label="navigation">
            <a mat-list-item routerLink="profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Profile</a>
            <a mat-list-item routerLink="user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Utilisateur</a>
            <a mat-list-item routerLink="habilitation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Habilitation</a>
        </mat-nav-list>   
        
    </mat-drawer>
    <mat-drawer-content style="padding: 20px 20px">
        <router-outlet>
                
        </router-outlet>
        <!-- Main content -->

    </mat-drawer-content>
  
  </mat-drawer-container>