<!-- <p>profile works!</p> -->
<!-- <table class="striped highlight responsive-table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Libelle</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr data-target="modalEdit" *ngFor="let p of profiles" (click)="getCurrentProfile(p)" class="modal-trigger">
            <td>{{p.code}}</td>
            <td>{{p.libelle}}</td>
            <td>{{p.description}}</td>
        </tr>
    </tbody>
</table> -->

<!-- <div id="modalAdd" class="modal modal-fixed-footer">
    <form [formGroup]="profileForm">
        <div class="modal-content">
            <h4>Profile</h4>
            <p>Ajouter un profile</p>

            <div class="row">
                <div class="input-field col s6">
                    <input id="code" type="text" formControlName="code" class="validate" [ngClass]="{ 'invalid': code.invalid && (code.dirty || code.touched)}">
                    <label for="code">Code</label>
                    <span *ngIf="code.invalid && (code.dirty || code.touched)" class="help-text" data-error="wrong">
                        <p *ngIf="code.errors.required">* Le code est obligatoire</p>
                    </span>
                </div>
                <div class="input-field col s6">
                    <input id="libelle" type="text" formControlName="libelle" class="validate" [ngClass]="{ 'invalid': libelle.invalid && (libelle.dirty || libelle.touched)}">
                    <label for="libelle">Libelle</label>
                    <span *ngIf="libelle.invalid && (libelle.dirty || libelle.touched)" class="help-text" data-error="wrong">
                        <p *ngIf="libelle.errors.required">* Le libelle est obligatoire</p>
                    </span>
                </div>
                <div class="input-field col s12">
                    <textarea id="description" formControlName="description" class="materialize-textarea"></textarea>
                    <label for="description">description</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" [disabled]="profileForm.invalid" (click)="onSubmitForm()">Ajouter</button>
            <button class="btn modal-close waves-greeb btn-flat" #closeBtnAdd>Fermer</button>
        </div>
    </form>
</div> -->

<!-- <div id="modalEdit" class="modal modal-fixed-footer">
    <form [formGroup]="editModeProfileForm">
        <div class="modal-content">
            <h4>Profile</h4>
            <p>{{editFormTitle}}</p>
            <div class="row">
                <div class="input-field col s6">
                    <input id="code" type="text" formControlName="code"  name="code" class="validate">
                    <label for="code" class="active">Code</label>
                    <span *ngIf="codeEdit.invalid && (codeEdit.dirty || codeEdit.touched)" class="help-text" data-error="wrong">
                        <p *ngIf="codeEdit.errors.required">* Le code est obligatoire</p>
                    </span>
                </div>
                <div class="input-field col s6">
                    <input id="libelle" type="text" formControlName="libelle" name="libelle" class="validate">
                    <label for="libelle" class="active">Libelle</label>
                    <span *ngIf="libelleEdit.invalid && (libelleEdit.dirty || libelleEdit.touched)" class="help-text" data-error="wrong">
                        <p *ngIf="libelleEdit.errors.required">* Le libelle est obligatoire</p>
                    </span>
                </div>
                <div class="input-field col s12">
                    <textarea id="description" formControlName="description" name="description" class="materialize-textarea active"></textarea>
                    <label for="description" class="active">description</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect">Valider</button>
            <button  class="btn waves-effect">Editer</button>
            <button  class="btn waves-effect">Supprimer</button>
            <button  #closeBtnEdit class="btn modal-close waves-greeb btn-flat">Fermer</button>
        </div>
    </form>
</div> -->

<table mat-table [dataSource]="profiles" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <!-- libelle Column -->
    <ng-container matColumnDef="libelle">
        <th mat-header-cell *matHeaderCellDef> Libelle </th>
        <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="option" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button class="custom-more" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="openDialogEditProfile(element)" mat-menu-item>
                    <!-- <mat-icon>edit_square</mat-icon> -->
                    <span>Modifier</span>
                </button>

                <button (click)="deleteProfile(element)" mat-menu-item>
                    <!-- <mat-icon>playlist_remove</mat-icon> -->
                    <span>Supprimer</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="example-button-container">
    <button (click)="openDialogAddProfile()" class="custom-fab" mat-fab color="primary" aria-label="icon button with a add icon">
        <mat-icon>playlist_add</mat-icon>
    </button>
</div>