<h2 mat-dialog-title>Détails</h2>

<mat-grid-list cols="1" rowHeight="200px">
  <mat-grid-tile>
    <div><img class="circle" width="200px" height="200px" [src]="url"></div>
  </mat-grid-tile>
</mat-grid-list>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="detailModeMemberForm" class="example-form">
    <mat-grid-list cols="6" rowHeight="6:2" gutterSize="30px">
        
        <mat-grid-tile colspan="4" rowspan="2">
          <input type="file" formControlName="photo" accept="image/png, image/jpeg">
          <!-- <mat-error *ngIf="photoEdit.invalid && (photoEdit.dirty || photoEdit.touched)">
            <span *ngIf="photoEdit.errors.required">Le photo est <strong>obligatoire</strong></span>
          </mat-error> -->
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <mat-form-field class="example-full-width">
            <mat-label>Nom</mat-label>
            <input name="nom" type="text" matInput formControlName="nom">
            <!-- <mat-error *ngIf="nomEdit.invalid && (nomEdit.dirty || nomEdit.touched)">
              <span *ngIf="nomEdit.errors.required">Le nom est <strong>obligatoire</strong></span>
            </mat-error> -->
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <mat-form-field class="example-full-width">
            <mat-label>Prénom</mat-label>
            <input name="prenom" type="text" matInput formControlName="prenom">
            <!-- <mat-error *ngIf="prenomEdit.invalid && (prenomEdit.dirty || prenomEdit.touched)">
              <span *ngIf="prenomEdit.errors.required">Le prénom est <strong>obligatoire</strong></span>
            </mat-error> -->
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <mat-form-field class="example-full-width">
            <mat-label>Téléphone</mat-label>
            <input name="telephone" type="text" matInput formControlName="telephone">
            <!-- <mat-error *ngIf="telephoneEdit.invalid && (telephoneEdit.dirty || telephoneEdit.touched)">
              <span *ngIf="telephoneEdit.errors.required">Le téléphone est <strong>obligatoire</strong></span>
            </mat-error> -->
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <mat-form-field class="example-full-width">
            <mat-label>Adresse</mat-label>
            <input name="adresse" type="text" matInput formControlName="adresse">
            <!-- <mat-error *ngIf="adresseEdit.invalid && (adresseEdit.dirty || adresseEdit.touched)">
              <span *ngIf="adresseEdit.errors.required">L'adresse est <strong>obligatoire</strong></span>
            </mat-error> -->
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <mat-form-field appearance="fill">
            <mat-label>Date de naissance</mat-label>
            <input name="dateNaissance" matInput [matDatepicker]="picker" formControlName="dateNaissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <!-- <mat-error *ngIf="dateNaissanceEdit.invalid && (dateNaissanceEdit.dirty || dateNaissanceEdit.touched)">
              <span *ngIf="dateNaissanceEdit.errors.required">La date de naissance est <strong>obligatoire</strong></span>
            </mat-error> -->
          </mat-form-field>
        </mat-grid-tile>
      
        <mat-grid-tile colspan="2" rowspan="2">
          <mat-form-field appearance="fill">
              <mat-label>Sexe</mat-label>
              <mat-select formControlName="selectedSexe" required>
                <mat-option>Choisir un genre</mat-option>
                <mat-option value="F">Féminin</mat-option>
                <mat-option value="M">Masculin</mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="selectedSexeEdit.invalid && (selectedSexeEdit.dirty || selectedSexeEdit.touched)">
                <span *ngIf="selectedSexeEdit.errors.required">Le genre est <strong>obligatoire</strong></span>
              </mat-error> -->
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2" rowspan="2">
          <mat-form-field appearance="fill">
              <mat-label>Ministere</mat-label>
              <mat-select formControlName="selectedMinister" required>
                <mat-option>Choisir un ministère</mat-option>
                <mat-option *ngFor="let m of ministeres; let i = index" [value]="ministeres[i].id">
                  {{ministeres[i].libelle}}
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="selectedMinisterEdit.invalid && (selectedMinisterEdit.dirty || selectedMinisterEdit.touched)">
                  <span *ngIf="selectedMinisterEdit.errors.required">Le ministere est obligatoire</span>
              </mat-error> -->
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
  <!-- <button mat-button cdkFocusInitial (click)="onUpdateForm()">Valider</button> -->
</mat-dialog-actions>

